{% extends 'home/base.html'%}

{% load static %}

{% block head %}
    <title>Music</title>
    <link rel="stylesheet" href="{% static 'music/styles.css' %}">
{% endblock head %}

{% block content %}
    <div class='list-box'>

        {% for artist in artist %}
        <div class='class-list'>

            <a href='#'> <div class='list-title'>{{artist}}</div></a>
            <div class='elem-list'>
                {% for song in song %}
                    {% if song.artist == artist%}

                        <div class='elem'>
                            <a href="{% url 'music:detail' song.id %}" class='song-title'>{{song.song_title}}</a>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
    <a class="btn btn-outline-primary" href="{% url 'music:home-page' %}" role="button">돌아가기</a>
{% endblock %}