{% extends 'home/base.html'%}

{% load static %}

{% block content %}
    <head>
        <title>music</title>
        <link rel="stylesheet" href="{% static 'music/styles.css' %}">
    </head>
    
        <div class='list-box'>




            {% for artist in artist %}
            <div class='class-list'>

                <a href='#'> <div class='list-title'>{{artist}}</div></a>
                <div class='elem-list'>
                    {% for song in song %}
                        {% if song.artist == artist%}

                            <div class='elem'>
                                <a href="{% url 'music:music-player' song.id%}" class='song-title'>{{song.song_title}}</a>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>
{% endblock %}