{% extends 'home/base.html'%}

{% load static %}

{% block content %}
    <head>
        <title>music</title>
        <link rel="stylesheet" href="{% static 'music/styles.css' %}">
    </head>

        <div class='list-box'>

            {% for Class in class_list%}
            <div class='class-list'>

                <a href="{% url 'music:list-player' Class%}"> <div class='list-title'>{{Class}}</div></a>
                <div class='elem-list'>
                    {% for song in song %}
                        {% if song.Class == Class%}

                            <div class='elem'>
                                <a href="{% url 'music:music-player' song.id%}">{{song.song_title}}</a>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>
    <a class="btn btn-outline-primary" href="{% url 'music:view-artist' %}" role="button">아티스트 별로 보기</a>
    <a class="btn btn-outline-primary" href="{% url 'music:create' %}" role="button">노래 추가</a>
{% endblock content %}