{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<html>
    <body>
        <div class='page-elem'>
            
                <div id='english_app' class='app_card'>
                    <img src="media/images/English.jpg" class="app_image">
                    <a class="btn btn-outline-primary app-btn" href="{% url 'english:home-page' %}"> <h3>영어단어 카드</h3> </a>
                </div>
            
            <div id='math_app' class='app_card'>
                <img src="media/images/Math.jpg" class="app_image">
                <a class="btn btn-outline-primary app-btn" href="{% url 'math:home-page' %}"> <h3>수학 오답노트</h3></a>
            </div>

            <div id='music_app' class='app_card'>
                <img src="media/images/Music.jpg" class="app_image">
                <a class="btn btn-outline-primary app-btn" href="{% url 'music:home-page' %}"> <h3>음악 플레이어</h3></a>
            </div>

        </div>

    </body>
</html>
{% endblock content %}