{% extends './base.html'%}
{% load static %}

{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'home/styles.css' %}">
        
    </head>
    <body>

        <div>
            <a href="{% url 'home:home-page' %}" class='a'>
                <div class='note'>
                    <div class="helper"></div>
                    수학
                </div>
            </a>

            <a href="{% url 'english:home-page' %}" class='a'>
                <div class='note'>
                    <div class="helper"></div>
                    영어
                </div>
            </a>

            <a href="{% url 'music:home-page' %}"  class='a'>
                <div class='note'>
                    <div class="helper"></div>
                    노래
                </div>
            </a>
        </div>

    </body>
</html>
{% endblock content %}