.elem-list {
    overflow: scroll;
    width: 250px;
    height: 350px;
    padding: 0px;
}

.elem {
    margin-bottom: 5px;
    background-color: lightblue;
    text-align: center;
}

.class-list {
    background-color: lightgray;
    width: 250px;
    margin: 10px;
    float: left;
}

.list {
    background-color: mediumpurple;
}

.list-title {
    font-size: 28px;
    height: 80px;
    text-align: center;
}

#post_confirm_delete {
    float: right;
}