.elem-list {
    overflow: scroll;
    width: 250px;
    height: 350px;
    padding: 0px;
}

.elem {
    margin-bottom: 5px;
    background-color: lightblue;
}

.class-list {
    background-color: lightgray;
    width: 250px;
    margin: 10px;
    float: left;
}

.list {
    background-color: mediumpurple;
}