.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.navbar {
    width: 1440px;
    margin-left: auto; 
    margin-right: auto;
}

.page-elem {

    width: 1440px;
    margin-left: auto; 
    margin-right: auto;
}