{% extends './base.html'%}
{% load static%}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'english_note/styles.css' %}">
</head>

<body>
    <div class='list-box'>

        {% for Class in class_list%}
        <div class='class-list'>

            <a href="{% url 'english:word-card' Class%}"> <h3 class='list-title'>{{Class}}</h3></a>
            <div class='word-list'>
                {% for word in word %}
                    {% if word.Class == Class%}

                        <div class='word'>
                            <a href="#">{{word.KO_word}}</a> <!--개별 영어단어 보여주기 만들어야됨-->
                            {{word.memorize}}<br>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
            
        </div>
        {% endfor %}

    </div>

    <a href="{% url 'english:new' %}" class='link'><div>영어문장 추가하러 가기</div></a>
</body>
{% endblock content %}