{% extends './base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'english_note/styles.css' %}">
</head>

<body>
    <div id="carouselExampleCaptions" class="carousel slide" data-interval="false">
    
    <div class="carousel-indicators">
        {% for num in words_len_0 %}
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{num}}" {% if num == '0' %}class="active"{% endif %}></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for word in words %}
            <div class="carousel-item {% if word == words.0 %}active{% endif %}">
                <div class='card-word'>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front"><div class='helper'></div>{{word.KO_word}}</div>
                            <div class="flip-card-back"><div class='helper'></div>{{word.EN_word}}</div>
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}


    <button class=" carousel-control-prev bs-button" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bs-button" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
    </div>
    </div>
</body>
{% endblock content %}