{% extends 'home/base.html'%}
{% load static %}

{% block head %}
    <title>Math</title>
    <link rel="stylesheet" href="{% static 'math_note/styles.css' %}">
{% endblock head %}

{% block content %}
    <h1>{{post.book}} p{{post.page}}   #{{post.number}}</h1>
    
    <p>{{post.WR|linebreaksbr}}</p>
    <img src="{{post.image.url}}"><br>
    {{post.dt_created}}<br>
    {{post.dt_modified}}<br>

    {% if post.big_unit %}
        대단원: {{post.big_unit}}  <br>
    {% endif %}
    {% if post.middle_unit %}
        중단원: {{post.middle_unit}}
    {% endif %}

    <a class="btn btn-outline-danger" href="{% url 'math:delete' post.id %}" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
    <a class="btn btn-outline-primary" href="{% url 'math:update' post.id %}">수정</a>
    <a class="btn btn-outline-primary" href="{% url 'math:home-page' %}">돌아가기</a>
{% endblock content %}