{% extends 'home/base.html'%}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8">
    <title>오답노트 목록</title>
    <link rel="stylesheet" href="{% static 'math_note/styles.css'%}">
</head>


<h1>{{post.book}} p{{post.page}}   #{{post.number}}</h1>
<h4>
    대단원: {{post.big_unit}}  <br>
    중단원: {{post.middle_unit}}
</h4>
<p>{{post.WR|linebreaksbr}}</p>
<img src="{{post.image.url}}"><br>
{{post.dt_created}}<br>
{{post.dt_modified}}<br>


<a class="btn btn-outline-primary" href={% url 'math:home-page' %} role="button">목록으로 돌아가기</a>
{% endblock content %}