{% extends './base.html'%}
{% load static%}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'english_note/styles.css' %}">
</head>

<body>
    <div class='list-box'>



        {% for Class in class_list%}
        <div class='classification-list'>

            <a href='sentenceCard/{{Class}}/0'> <h3 class='list-title'>{{Class}}</h3></a>
            <div class='sentenc-list'>
                {% for sentenc in sentenc %}
                    {% if sentenc.Class == Class%}

                        <div class='sentenc'>
                            <a href="/english_note/open/{{sentenc.id}}/">{{sentenc.KO_word}}</a>
                            {{sentenc.memorize}}<br>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}



    </div>

    <a href='new/' class='link'><div>영어문장 추가하러 가기</div></a>
</body>
{% endblock content %}